$primary-color: #333333;
$secondary-color: #b1b2b2;
$light-grey: #f9f9f9;
$grey-color-0: #F2F2F2;
$grey-color-1: #808080;
$grey-color-2: #4D4D4D;
$grey-color-3: #cccccc;
$grey-color-4: #bababa;
$danger-color-0: #e74c3c;