$font-4: 0.25em;
$font-8: 0.5em;
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875em;
$font-15: 0.9375em;
$font-16: 1rem;
$font-20: 1.25rem;
$font-24: 1.5rem;

$tam-1: 0.0625em;
$tam-5: 0.3125em;
$tam-8: 0.5em;
$tam-10: 0.625em;
$tam-16: 1em;