@import "../../variables";
@import "../../colors";

/* Main > Filmes */
.products{
    padding: ($tam-10 * 3) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .product{
        &__item{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            margin-bottom: $tam-10 * 3;
            width: 100%;
        }
        &__image{
            width: 100%;
            background-color: #fff;
            position: relative;
            img{
                width: 100%;
            }
        }
        &__percent{
            position: absolute;
            right: 0;
            top: 0;
            color: #fff;
            padding: 2px 4px;
            font:{
                size: $font-11;
            };
            background:{
                color: $primary-color;
            };
        }
        &__description{
            text-align: center;
            padding: $tam-10;
        }
        &__name{
            font-size: $font-13;
            font-weight: 700;
            margin: 0;
            text-transform: uppercase;
            overflow: hidden;
            max-height: 14px;
        }
        &__price{
            font-weight: 400;
            margin:{
                top: $tam-5;
            };
        }
    }
}