@import "normalize.css";

*{
    transition: all 0.3s ease-out;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    padding-top: 56px;
    background-color: #FAFAFA;
}

figure{
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #4D4D4D;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #808080;
    border-radius: 10px;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

a, a:visited{
    color: #fff;
}

a:hover, a:active{
    color: #333333
}

.container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.row--flexstart{
    justify-content: flex-start;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: inherit;
}

.column__small--12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.column__small--6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.mt-2{
    margin-top: 1em;
}

@media screen and (min-width: 728px) {
    .container{
        max-width: 728px;
    }

    .column__medium--6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 960px) {
    .container{
        max-width: 960px;
    }
    .column{
        padding-right: 5px;
        padding-left: 5px;
    }
    .column__large--4 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
